@import "tailwindcss";


:root {
  --background: #fcf6e2;
  --foreground: #C67D30;
}
.background {
  background: #fcf6e2;
}
.font-color{
  color: #C67D30;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcf6e2;
    --foreground: #C67D30;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
}

/* @media screen and(min-width: 768px) {
  header nav{
    background:var(--background);
  }
} */
